<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card text-center mx-auto" style="width:75%;">
      <div class="card-header"><h1 style="color: black;">Service Form</h1>
      </div>
      <div class="card-body">
      <form class="form-horizontal">
        <fieldset>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputServiceName" class="form-control-label">Service Name</label>
        <div class="form-control">
            <%= form.text_field :name, id: :service_name %>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="inputServiceDueDistance" class="form-control-label">Due Service Distance</label>
        <div class="form-control">
            <%= form.number_field :distance_due, id: :service_distance_due %>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= link_to 'Back', maintenances_path, class: "btn btn-info" %>
      <%= form.submit class: 'btn btn-success' %>
    </div>
<% end %>
