
<style>
  .stationary {
    background-image:
      radial-gradient(
        circle,
        #fd2c2c, #b41212 12px, transparent 12px
      );
  }

  .moving1 {
    background-image:
      radial-gradient(
        circle,
        #00ff00, green 12px, transparent 13px
      );
  }

  .moving2 {
    background-image:
      radial-gradient(
        circle,
        #90ff58, #4ad205 12px, transparent 13px
      );
  }


  .example-table {
      border-collapse: collapse;
      margin: 0 auto;
      border: 2px solid black;
      width: auto;

  }
  .example-thead {
      background-color: #333;
      color: #fff;
  }
  thead,tbody {
      display: block;
  }
  th,td {
      padding: 4px;
      width: 125px;
      box-sizing: border-box;
  }
  .tbody {
    overflow: auto;
    height: 50vh;
  }
   .aaa {
    height : 90vh;
  }

  .underline {
      height: auto;
      color: #ccc;
      border-bottom: 1px solid black;
  }

  .btn-history {
      padding: 6px 9px;
      font-size: 15px;
      border-radius: 5px;
      width:18%;
  }

  .btn-confirm {
      padding: 6px 9px;
      font-size: 17px;
      border-radius: 5px;
      width:25%;
  }

</style>
<html>


<head>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
</head>
<div class="container-fluid">
      <div class="row pt-3 aaa">
        <nav class="col-sm-3 col-md-4 d-none d-sm-block bg-light" >
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active normal-mode" id="real-time-tab" onclick="removeLine();" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Real Time</a>
              </li>
              <li class="nav-item">
                <a class="nav-link clear-marker" id="history-tab" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false">History</a>
              </li>
            </ul>

            <div id="real-time">
              <!-- <div class="underline">
                <table class="table-top">
                      <tr align="center">
                          <th>Plate</th>
                          <th colspan="3">Location</th>
                          <th>Speed</th>
                      </tr>
                      <tr align="center">
                          <td>-</td>
                          <td></td>
                          <td>-</td>
                          <td></td>
                          <td>-</td>
                      </tr>
                </table>
              </div> -->
            <br>
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
              <table class="example-table">
                  <thead class="example-thead">
                      <tr align="center">
                          <th> Plate </th>
                          <th> Last Update </th>
                          <th> Status </th>
                      </tr>
                      <tr align="center">
                          <th><input type="text" id="plate-search" size="9" style="height:23px;"></th>
                          <!-- <th><input type="text" id="province-search" size="13" style="height:23px;"></th> -->
                          <th>
                          <th><select id="selectBox" onchange="changeFunc();">
                              <option selected value="saab">All</option>
                              <option value="mercedes">Moving</option>
                              <option value="audi">Stationary</option>
                            </select>
                          </th>
                      </tr>
                  </thead>
                  <tbody class="data-table tbody">
                    <% @vehicles.each do |vehicle| %>
                    <tr style="background-color: white; border-bottom: 1px solid black;" align="center" >
                      <td><i class="fa fa-search" style="color:blue;text-shadow:2px 2px 4px #000000;" onclick="vehicleSearch(this)" id="<%= vehicle.id %>"></i> <%= vehicle.plate %></td>
                      <td><%= Position.getTime(vehicle.imei) %></td>
                      <td class="status stationary"></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>






      <!-- <div class="history">
        haha
      </div> -->

      <div id="history" style="display:none;" align="center">
        <div class="underline" >
          <br>
          <font style="color:black">Choose Vehicle: </font>
          <select id="plate" style="width:115px;" class="js-example-basic-single" name="state">
              <% @vehicles.each do |vehicle| %>
                <option value="<%= vehicle.id %>"> <%= vehicle.plate %> </option>
              <% end %>
            </select>
          <br><br>
        </div>

        <div>
          <br>
          <button class="btn btn-danger btn-history" id="6hrs" type="button">6hr</button>
          <button class="btn btn-danger btn-history" id="12hrs" type="button">12hr</button>
          <button class="btn btn-primary btn-history" id="1day" type="button">1day</button>
          <button class="btn btn-danger btn-history" id="2days" type="button">2days</button>
          <br><br>
        </div>

        <div class="underline" >
          <div class="checkbox">
            <label style="color:black"><input type="checkbox" id="checkbox-status"> Seclect interval</label>
          </div>

          <div class="interval">
            <font style="color:black">From: </font>
            <input type="datetime-local" id="startDate" >
            <br><br>
            <font style="color:black">To: </font>
            <input id="endDate" type="datetime-local" >
            <br><br>
          </div>
        </div>
              <!-- <button onclick="vehicleSearch()" class="search-button">Search</button> -->
              <!-- <input type="datetime-local" id="startDate" > -->
              <!-- <br>
              <font align="center">ถึง</font>
              <br>
              <input id="endDate" type="datetime-local" > -->
            <br>
            <button class="btn btn-success btn-confirm" type="button">Confirm</button>
          <!-- <button class="search-button clear-marker" >Clear Markers</button>
        <button class="search-button normal-mode" onclick="removeLine();" >Normal Mode</button> -->
      </div>



</nav>
<main class="col-sm-6 ml-sm-auto col-md-8" role="main">
  <div id="dvMap" style="width: 100%; height: 100%"></div>
  </main>
</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<!-- <script src="../../../../assets/js/vendor/popper.min.js"></script>
<script src="../../../../dist/js/bootstrap-material-design.min.js"></script>
<script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

<script type="text/javascript">
window.onload = function () {
  LoadMap()
  $('.fa-search').css( 'cursor', 'pointer' );
  $('.interval').hide();
};

$( document ).ready(function() {
    $('.root').addClass('active');
});

  $('#checkbox-status').change(function() {
    if ($(this).is(':checked')) {
      $('.btn-history').removeClass("btn-primary");
      $('.btn-history').removeClass("btn-danger");
      $('.btn-history').attr("disabled", true);
      $('.interval').show();
      // document.getElementById("startDate").disabled = false;
      // document.getElementById("endDate").disabled = false;
    } else {
      $('.btn-history').addClass("btn-danger");
      $('.btn-history').attr("disabled", false);
      $('.interval').hide();
    }
  });

  $('.btn-history').click(function() {
    $(this).siblings().removeClass("btn-primary");
    $(this).siblings().addClass("btn-danger");
    $(this).removeClass("btn-danger");
    $(this).addClass("btn-primary");
  });

  $('.btn-confirm').click(function() {
    clearMarker()
    var selectBox = document.getElementById("plate");
    var vehicle_id = selectBox.options[selectBox.selectedIndex].value;
    if ($('#checkbox-status').is(':checked')) {
      var startDate = document.getElementById("startDate").value
      var endDate = document.getElementById("endDate").value
      showHistory(vehicle_id, startDate, endDate);
    } else {
      history_dict = {
           "6hrs":"<%= 6.hours.ago %>",
           "12hrs":"<%= 12.hours.ago %>",
           "1day":"<%= 1.day.ago %>",
           "2days":"<%= 1.days.ago %>",
      }
      time = history_dict[document.getElementsByClassName("btn-primary")[0].id]
      showHistory(vehicle_id, time,  "<%= Time.now %>");
    }
  });


var current_vehicle_marker_id;
// document.getElementsByClassName("status").removeClass("stationary");
// document.getElementsByClassName("status").classList.add("moving2");

function vehicleSearch(obj) {
  vehicle_id = obj.id
  current_vehicle_marker_id = vehicle_id
  info_ary = getMarkerInfo(vehicle_id)
}
function getMarkerInfo(vehicle_id) {
  $.ajax({
    type:"GET",
    url:"/positions/info",
    data: {
      vehicle_id: vehicle_id
    },
    dataType:"json",
    success: function(data){
      for (i = 0; i < markersArray.length; i++) {
        if (markersArray[i].name[0] == vehicle_id) {
            map.setZoom(13);
            map.setCenter(markersArray[i].getPosition());
            // console.log("one")
            // document.getElementById('marker-info').innerHTML = ""
            var contentString = '<div id="marker-info">Plate: ' + data[0] + '<br>Speed: ' +
                                        data[1] + '<br>Sub-district: ' +
                                        data[2][0] + '<br>District: ' +
                                        data[2][1] + '<br>Province: ' +
                                        data[2][2] +
                                '</div>'
            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });
            infowindow.open(map, markersArray[i]);
            // console.log("<%= Position.getAddress(1) %>")
        }
      }
    }
  })
}

function getMarkerInfoNoZoom(vehicle_id) {
  $.ajax({
    type:"GET",
    url:"/positions/info",
    data: {
      vehicle_id: vehicle_id
    },
    dataType:"json",
    success: function(data){
      for (i = 0; i < markersArray.length; i++) {
        if (markersArray[i].name[0] == vehicle_id) {
            // console.log("two")
            var contentString = '<div id="marker-info">Plate: ' + data[0] + '<br>Speed: ' +
                                        data[1] + '<br>Sub-district: ' +
                                        data[2][0] + '<br>District: ' +
                                        data[2][1] + '<br>Province: ' +
                                        data[2][2] +
                                '</div>'
            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });
            infowindow.open(map, markersArray[i]);
            // console.log("<%= Position.getAddress(1) %>")
        }
      }
    }
  })
}

var output = $('#txt');
  var isPaused = false;
  var time = 0;
  var flightPath;
  var flightPathArray = [];

function showHistory(vehicle_id, start, end) {
    // e.preventDefault();
    // console.log(vehicle_id, start, end)
    isPaused = true;
    clearMarker()
    $.ajax({
      type:"GET",
      url:"/positions/routes",
      data: {
        id: vehicle_id,
        startDate: start,
        endDate: end
      },
      dataType:"json",
      success: function(data){
        // console.log(data[0].length)
        for( i = 0; i < data[0].length; i += 15 ) {
          var position = new google.maps.LatLng(data[0][i].lat, data[0][i].lng);
          marker = new google.maps.Marker({
              position: position,
              icon: calDegree(data[0][i].lat, data[0][i].lng, data[0][i+1].lat, data[0][i+1].lng),
              // label: {text: markers[i][0], color: "red"},
              map: map,
          });
          markersArray.push(marker);
        } console.log(marker)
        // var pathCoordinates = data
        // // console.log(data[1], (data[0]).length, data[2])
        // flightPath = new google.maps.Polyline({
        //   path: pathCoordinates[0],
        //   // icons: [{
        //   //   icon: lineSymbol,
        //   //   offset: '50%'
        //   // }],
        //   geodesic: true,
        //   strokeColor: '#FF0000',
        //   strokeOpacity: 1.0,
        //   strokeWeight: 2
        // });
        // // animateCircle(flightPath);
        // flightPath.setMap(map);
        // flightPathArray.push(flightPath);
      }
    });
  };

  $(".normal-mode").click(function(e) {
    isPaused = false;
  });


  var markersArray = [];
  var map;
  function LoadMap() {
    var mapOptions = {
        center: new google.maps.LatLng(14.5829178, 100.8755719),
        zoom: 6,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
    placeMarker()
  };

  // console.log(map)

  function clearMarker() {
    for (var i = 0; i < markersArray.length; i++ ) {
      markersArray[i].setMap(null);
    }
  }

  var t = window.setInterval(function(){
    if(!isPaused) {
      time++;
      output.text("Seconds: " + time);
      clearMarker()
      markersArray.length = 0;
      placeMarker()
    }
  }, 16000 );

  function placeMarker() {
    $.ajax({
      type:"GET",
      url:"/positions/marker",
      dataType:"json",
      success: function(data){
        console.log(data)
        var markers = data
        for( i = 0; i < markers.length; i++ ) {
          var position = new google.maps.LatLng(markers[i][2], markers[i][3]);
          marker = new google.maps.Marker({
              position: position,
              name: [markers[i][0], markers[i][1]],
              icon: "http://maps.google.com/mapfiles/kml/shapes/truck.png",
              // label: {text: markers[i][0], color: "red"},
              map: map,
          });
          markersArray.push(marker);
          }
          if (typeof current_vehicle_marker_id != 'undefined') {
            getMarkerInfoNoZoom(current_vehicle_marker_id)
        }
      }
    });
  }

  function removeLine() {

     for (var i = 0; i < flightPathArray.length; i++ ) {
       flightPathArray[i].setMap(null);
     }
   }

   var lineSymbol = {
     path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
     scale: 5,
     strokeWeight:2,
     strokeColor: '#393',
   };

   function animateCircle(line) {
        var count = 0;
        window.setInterval(function() {
          count = (count + 1) % 200;

          var icons = line.get('icons');
          icons[0].offset = (count / 2) + '%';
          line.set('icons', icons);
      }, 20);
    }

    $('#real-time-tab').click(function() {
      isPaused = false;
      $("#history").hide();
      $("#real-time").show();
    })

    $('#history-tab').click(function() {
      clearMarker()
      isPaused = true;
      $("#real-time").hide();
      $("#history").show();
    })

    $("#plate-search").keyup(function() {
      var value = this.value;
      $(".data-table").find("tr").each(function(index) {
          if (index === -1) return;
          var id = $(this).find("td").first().text();
          $(this).toggle(id.indexOf(value) !== -1);
      });
    });

    $("#province-search").keyup(function() {
      var value = this.value;
      $(".data-table").find("tr").each(function(index) {
          if (index === -1) return;
          var id = $(this).find("td")[1].innerText;
          $(this).toggle(id.indexOf(value) !== -1);
      });
    });



    function calDegree(x1, y1, x2, y2) {
      var p1 = {
      	x: x1,
      	y: y1
      };
      var p2 = {
      	x: x2,
      	y: y2
      };
      var angleDeg = Math.atan2(p2.y - p1.y, p2.x - p1.x) * 180 / Math.PI;
      if ((-22.5 < angleDeg) && (angleDeg < 22.5)) {
        return "<%= image_path 'green0.png' %>"
      } else if ((22.5 < angleDeg) && (angleDeg < 67.5)) {
        return "<%= image_path 'green45.png' %>"
      } else if ((67.5 < angleDeg) && (angleDeg < 112.5)) {
        return "<%= image_path 'green90.png' %>"
      } else if ((112.5 < angleDeg) && (angleDeg < 157.5)) {
        return "<%= image_path 'green135.png' %>"
      } else if ((-67.5 < angleDeg) && (angleDeg < -22.5)) {
        return "<%= image_path 'green-45.png' %>"
      } else if ((-112.5 < angleDeg) && (angleDeg < -67.5)) {
        return "<%= image_path 'green-90.png' %>"
      } else if ((-157.5 < angleDeg) && (angleDeg < -112.5)) {
        return "<%= image_path 'green-135.png' %>"
      } else return "<%= image_path 'green180.png' %>"
    }
</script>
