<%= form_with(model: maintenance, local: true) do |form| %>
  <% if maintenance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(maintenance.errors.count, "error") %> prohibited this maintenance from being saved:</h2>

      <ul>
      <% maintenance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card text-center mx-auto" style="width:75%;">
      <div class="card-header"><h1 style="color: black;">Maintenance Form</h1>
      </div>
      <div class="card-body">
      <form class="form-horizontal">
        <fieldset>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputServiceType" class="form-control-label">Service Type</label>
        <div class="form-control">
            <%= form.select(:service_id, Service.all.map{|service| [service.name, service.id]}) %>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="inputServiceType" class="form-control-label">Vehicle Serviced</label>
        <div class="form-control">
            <%= form.select(:vehicle_id, Vehicle.all.map{|vehicle| [vehicle.plate, vehicle.id]}) %>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4"></div>
       <div class="form-group col-md-4">
         <label for="inputStartDistance" class="form-control-label">Manual Distance</label>
         <div class="form-control">
             <%= form.number_field :manually_distance, id: :maintenance_manually_distance, placeholder: "0" %>
         </div>
       </div>
     </div>
   </div>

  <div class="actions">
    <%= link_to 'Back', maintenances_path, class: "btn btn-info" %>
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
