<%= form_with(model: maintenance, local: true) do |form| %>
  <% if maintenance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(maintenance.errors.count, "error") %> prohibited this maintenance from being saved:</h2>

      <ul>
      <% maintenance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :service_id %>
    <%= form.select(:service_id, Service.all.map{|service| [service.name, service.id]}) %>
  </div>

  <div class="field">
    <%= form.label :start_distance %>
    <%= form.number_field :start_distance, id: :maintenance_start_distance %>
  </div>

  <div class="field">
    <%= form.label :current_distance %>
    <%= form.number_field :current_distance, id: :maintenance_current_distance %>
  </div>

  <div class="field">
    <%= form.label :manually_distance %>
    <%= form.number_field :manually_distance, id: :maintenance_manually_distance %>
  </div>

  <div class="field">
    <%= form.label :vehicle_id %>
    <%= form.select(:vehicle_id, Vehicle.all.map{|vehicle| [vehicle.plate, vehicle.id]}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
