
<br><br><br>
<div class="center">
  <select onchange="showCategory(this)">
    <option disabled selected value> -- select vehicle -- </option>
    <%= Vehicle.where("vehicles.plate <> ''").each do |vehicle| %>
        <option id="<%= vehicle.id %>" value="<%= vehicle.category %>"><%= vehicle.plate %> </option>
    <% end %>

  </select>
</div>

<div id="svgImg" align="center"></div>

<style>
.center {
    margin: auto;
    text-align: center;
}
</style>
<script>

var category = "4Wheels.svg"
var current_selection;

category_dict={
     "sleehW4":"<%= asset_path('4Wheels.svg') %>",
     "sleehW6":"<%= asset_path('6Wheels.svg') %>",
     "imeSsleehW8":"<%= asset_path('8WheelsSemi.svg') %>",
     "sleehW10":"<%= asset_path('10Wheels.svg') %>",
     "imeSsleehW21":"<%= asset_path('12WheelsSemi.svg') %>",
     "reliarTsleehW21":"<%= asset_path('12WheelsTrailer.svg') %>"
};

function showCategory(element) {
  var category = element.value.replace(/[-\-]/g,"").split("").reverse().join("")
  console.log('<object data="' + category_dict[category] + '" type="image/svg+xml" id="svg"></object>')
  document.getElementById('svgImg').innerHTML = '<object data="' + category_dict[category] + '" type="image/svg+xml" id="svg" height=600px; width=550px;></object>'
  var mySVG = document.getElementById("svg");
  var svgDoc;
  mySVG.addEventListener("load",function() {
       svgDoc = mySVG.contentDocument;
       var delta = svgDoc.getElementsByClassName("wheel");
       function selectedWheel() {
         for (var i = 0; i < delta.length; i++) {
           svgDoc.getElementById(delta[i].id).style.setProperty("fill", "white", "");
         }
         svgDoc.getElementById(this.id).style.setProperty("fill", "black", "");
         current_selection = this.id
         console.log(current_selection)
       }
       for (var i = 0; i < delta.length; i++) {
         svgDoc.getElementById(delta[i].id).style.setProperty("fill", "white", "");
         delta[i].addEventListener('click', selectedWheel, false);
       }
  }, false);
}
</script>
