
<div class="center">
  <select id ="my_select">
    <option disabled selected value> -- select vehicle -- </option>
    <%= Vehicle.where("vehicles.plate <> ''").each do |vehicle| %>
        <option id="<%= vehicle.id %>" value="<%= vehicle.category %>"><%= vehicle.plate %> </option>
    <% end %>
  </select>
  <button type="button" id="attach">Save</button
</div>

<div class="divSvg" id="svgImg" align="center" ></div>

<style>
.center {
    margin: auto;
    text-align: center;
}
</style>
<script>

var category = "4Wheels.svg"
var current_selection;
var current_vehicle_id;

category_dict={
     "4Wheels":"<%= asset_path('4Wheels.svg') %>",
     "6Wheels":"<%= asset_path('6Wheels.svg') %>",
     "8WheelsSemi":"<%= asset_path('8WheelsSemi.svg') %>",
     "10Wheels":"<%= asset_path('10Wheels.svg') %>",
     "12WheelsSemi":"<%= asset_path('12WheelsSemi.svg') %>",
     "12WheelsTrailer":"<%= asset_path('12WheelsTrailer.svg') %>"
};



$("#my_select").change(function() {
      $(".divSvg").hide();
      current_vehicle_id = $(this).children(":selected").attr("id");
      var category = $(this).children(":selected").attr("value").replace(/[-\-]/g,"")
      document.getElementById('svgImg').innerHTML = '<object data="' + category_dict[category] + '" type="image/svg+xml" id="svg" height=600px; width=550px;  display: none;></object>'
      getTyresPosition(current_vehicle_id)
});

function addListener(data) {
  var mySVG = document.getElementById("svg");
  var svgDoc;
  var new_delta = [];
  mySVG.addEventListener("load",function() {
       svgDoc = mySVG.contentDocument;
       var delta = svgDoc.getElementsByClassName("wheel");
       function selectedWheel() {
         for (var i = 0; i < new_delta.length; i++) {
           svgDoc.getElementById(new_delta[i].id).style.setProperty("fill", "white", "");
         }
         svgDoc.getElementById(this.id).style.setProperty("fill", "green", "");
         current_selection = this.id
         console.log(this.id)
       }

       for (var i = 0; i < delta.length; i++) {
         if (data.includes(svgDoc.getElementById(delta[i].id).id)) {
           delta[i].addEventListener('click', takenWheel, false);
         }
         else {
           svgDoc.getElementById(delta[i].id).style.setProperty("fill", "white", "");
           delta[i].addEventListener('click', selectedWheel, false);
           new_delta.push(delta[i]);
         }
       }
  }, false);
  $(".divSvg").show();
}

function takenWheel() {
  alert("this positon is not available")
}

$("#attach").click(function() {
  $.ajax({
    type:"GET",
    url:"/tyres/attach",
    data: {
      tyre_id: <%= @tyre.id %>,
      vehicle_id: current_vehicle_id,
      position: current_selection,
      email: "<%= current_user.email %>"
    },
    dataType:"json",
    success: function(data){
      window.location.assign('<%= tyres_path %>')
    }
  })
});

function getTyresPosition(vehicle_id) {
  $.ajax({
    type:"GET",
    url:"/tyres/current",
    data: {
      current_vehicle_id: vehicle_id
    },
    dataType:"json",
    success: function(data){
      addListener(data)
    }
  })
};

</script>
