<!-- <br>
<p align="center" style="font-size:155%;">Add New Tyre</p>
<div class="center-box">
  <%= form_with(model: tyre, local: true) do |form| %>
    <% if tyre.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(tyre.errors.count, "error") %> prohibited this tyre from being saved:</h2>

        <ul>
        <% tyre.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="col-md-12">
      <br>
      <div class="field">
        <%= form.label :brand %>
        <input id="tyre_brand" type="text" name="tyre[brand]" class="form-control" placeholder="tyre brand">
      <div class="field">
        <%= form.label :serial %>
        <input id="tyre_serial" name="tyre[serial]" class="form-control" placeholder="serial number"></input>
      </div>
      <div class="field">
        <%= form.text_field :start_distance, id: :tyre_start_distance, :value => 0, hidden: true %>
      </div>

      <div class="field">
        <%= form.text_field :total_distance, id: :tyre_total_distance, :value => 0, hidden: true %>
      </div>

      <div class="field">
        <%= form.label :status %>
        <input id="tyre_status" value="available" readonly="readonly" type="text" name="tyre[status]" class="form-control">
      </div>
      <br>
      <div class="actions" align="center" >
        <button class="btn btn-success" type="submit" name="commit" value="Create Tyre" data-disable-with="Create Tyre">Confirm</button>
      </div>
      <br>
    </div>
  <% end %>
</div> -->

<!-- /*<style>
  .center-box {
    border: black 2px solid;
    height: auto;
    width: 25%;
    margin:0 auto;
  }
</style>*/ -->

<%= form_with(model: tyre, local: true) do |form| %>
  <br>
  <div class="card text-center mx-auto" style="width:75%;">
      <div class="card-header"><h1 style="color: black;">Tyre Form</h1>
      </div>
      <div class="card-body">
      <form class="form-horizontal">
        <fieldset>
          <% if tyre.errors.any? %>
            <div class="col-md-12">
              <% tyre.errors.full_messages.each do |message| %>
                <div class="alert alert-danger">
                  <strong>Error!</strong> <%= message %>
                </div>
              <% end %>
            </div>
          <% end %>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPlate" class="form-control-label">Tyre Brand</label>
        <div class="form-control">
          <input id="tyre_brand" type="text" name="tyre[brand]" class="form-control" placeholder="tyre brand">
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="inputSerial" class="form-control-label">Serial Number</label>
        <div class="form-control">
          <input id="tyre_serial" name="tyre[serial]" class="form-control" placeholder="serial number"></input>
        </div>
      </div>
    </div>
  <div class="form-row">
    <div class="form-group col-md-4" style="display:none;">
      <label for="inputStartDistance" class="form-control-label">Start Distance</label>
      <div class="form-control">
        <%= form.text_field :start_distance, id: :tyre_start_distance, :value => 0 %>
      </div>
    </div>
    <div class="form-group col-md-4" style="display:none;">
      <!-- <label for="inputTotalDistance" class="form-control-label">Total Distance</label> -->
      <div class="form-control">
          <%= form.text_field :total_distance, id: :tyre_total_distance, :value => 0 %>
      </div>
    </div>
    <div class="col-md-3"></div>
    <div class="form-group col-md-6">
      <label for="inputTyreStatus" class="form-control-label">Tyre Status</label>
      <div class="form-control">
        <input id="tyre_status" style="text-align:center;" value="available" readonly="readonly" type="text" name="tyre[status]" class="form-control">
      </div>
    </div>
  </div>
  <div class="actions">
    <%= link_to 'Back', tyres_path, class: "btn btn-info" %>
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
