
<br>
<p align="center" style="font-size:160%;color:white;">Change Tyre Status</p>
<div class="center-box bg-light" style="display:none;" id="all-content">
  <table class="table my_table">
    <tr>
      <th>Brand</th>
      <th>Serial</th>
      <th>Distance Used</th>
      <th>Current Vehicle</th>
    </tr>

    <tr>
      <td><%= @tyre.brand %></td>
      <td><%= @tyre.serial %></td>
      <td><%= @tyre.total_distance %> km</td>
      <td><%= Vehicle.find(@tyre.vehicle_id).plate %></td>
    </tr>
  </table>

  <div class="status">
    <p align="center" style="font-size:120%; font-weight: bold;">Current Position</p>
    <div id="svgImg" align="center"></div>
    <div align="center">
      <font> Change Tyre Status to: </font>
      <button type="button" class="btn btn-success btn-sm" id="btn-available" value="<%= @tyre.id %>" >Usable</button>
      <button type="button" class="btn btn-danger btn-sm" id="btn-destroyed" value="<%= @tyre.id %>" >Worn Out</button>
    </div>
    <br>
  </div>
</div>

<script>
category_dict={
     "4Wheels":"<%= asset_path('4Wheels.svg') %>",
     "6Wheels":"<%= asset_path('6Wheels.svg') %>",
     "8WheelsSemi":"<%= asset_path('8WheelsSemi.svg') %>",
     "10Wheels":"<%= asset_path('10Wheels.svg') %>",
     "12WheelsSemi":"<%= asset_path('12WheelsSemi.svg') %>",
     "12WheelsTrailer":"<%= asset_path('12WheelsTrailer.svg') %>"
};

path = category_dict["<%= Vehicle.find(@tyre.vehicle_id).category %>".replace(/[-\-]/g,"")]
document.getElementById('svgImg').innerHTML = '<object data="' + path + '" type="image/svg+xml" id="svg" width=80%;></object>'
tyre = "<%= Tyre.find(@tyre.id).position %>"
showCurrent(tyre)

function showCurrent(tyre) {
  var mySVG = document.getElementById("svg");
  var svgDoc;
  mySVG.addEventListener("load",function() {
       svgDoc = mySVG.contentDocument;
       var delta = svgDoc.getElementsByClassName("wheel");
       for (var i = 0; i < delta.length; i++) {
         if (tyre != svgDoc.getElementById(delta[i].id).id)
            svgDoc.getElementById(delta[i].id).style.setProperty("fill", "white", "");
       }
  })
  $('#all-content').show()
}

$('#btn-available').click(function() {
  // console.log("<%= current_user.email %>")
  $.ajax({
    type:"GET",
    url:"/tyres/dettach",
    data: {
      tyre_id: this.value,
      email: "<%= current_user.email %>"
    },
    dataType:"json",
    success: function(data){
      window.location.assign('<%= tyres_path %>')
    }
  })
});

$('#btn-destroyed').click(function() {
  $.ajax({
    type:"GET",
    url:"/tyres/destroyed",
    data: {
      tyre_id: this.value,
      email: "<%= current_user.email %>"
    },
    dataType:"json",
    success: function(data){
      window.location.assign('<%= tyres_path %>')
    }
  })
});

</script>



<style>
  .center-box {
    border: black 2px solid;
    height: auto;
    width: 60%;
    margin:0 auto;
  }
</style>
