<p id="notice"><%= notice %></p>

<style>
  .table {
      width: 85%;
  }

  .btn-status {
      padding: 10px 20px;
      font-size: 18px;
      border-radius: 5px;
      width:20%;
  }

  th
  {
    color:white;
  }
</style>

<div align="center">
  <input class="btn btn-primary active btn-status" type="button" value="Currently Used" id="in-used">
  <input class="btn btn-success btn-status" type="submit" value="Available" id="un-use">
  <input class="btn btn-danger btn-status" type="submit" value="Destroyed">
</div>
<br>


<table class="table in-used-table my_table" id="myTable">
  <thead>
    <tr bgcolor="#006dcc">
      <th onclick="sortTable(0)">Brand</th>
      <th onclick="sortTable(1)">Serial</th>
      <th onclick="sortTable(2)">Start distance</th>
      <th onclick="sortTable(3)">Total distance</th>
      <th onclick="sortTable(4)">Status</th>
      <th onclick="sortTable(5)">Vehicle</th>
      <th onclick="sortTable(6)">Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tyres.where("tyres.vehicle_id IS NOT NULL").each do |tyre| %>
      <tr class ="in-used-table">
        <td><%= tyre.brand %></td>
        <td><%= tyre.serial %></td>
        <td><%= tyre.start_distance %></td>
        <td><%= tyre.total_distance %></td>
        <td><%= tyre.status %></td>
        <td><%= Vehicle.find(tyre.vehicle_id).plate %></td>
        <td><%= tyre.position %></td>
        <td><%= link_to 'Manage', tyre %></td>
        <td><%= link_to 'Edit', edit_tyre_path(tyre) %></td>
        <td><%= link_to 'Destroy', tyre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table style="display:none" class="table my_table un-use-table">
  <thead>
    <tr bgcolor="#5cb85c">
      <th>Brand</th>
      <th>Serial</th>
      <th>Start distance</th>
      <th>Total distance</th>
      <th>Status</th>
      <th>Vehicle</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tyres.where("tyres.vehicle_id IS NULL").each do |tyre| %>
      <tr>
        <td><%= tyre.brand %></td>
        <td><%= tyre.serial %></td>
        <td><%= tyre.start_distance %></td>
        <td><%= tyre.total_distance %></td>
        <td><%= tyre.status %></td>
        <td> - </td>
        <td> - </td>
        <td><%= link_to 'Manage', tyre %></td>
        <td><%= link_to 'Edit', edit_tyre_path(tyre) %></td>
        <td><%= link_to 'Destroy', tyre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Tyre', new_tyre_path %>


<script>
  $('.btn').click(function () {
       $('.btn').removeClass('active');
       $(this).toggleClass('active');
   });

  $('#in-used').click(function () {
    $(".un-use-table").css("display","none");
    $(".drestroyed-table").css("display","none");
    $(".in-used-table").removeAttr( 'style' );
    // $(".in-used-table").css("width", 85%);
  });

  $('#un-use').click(function () {
    $(".in-used-table").css("display","none");
    $(".drestroyed-table").css("display","none");
    $(".un-use-table").removeAttr('style');
    // $(".un-used-table").css("width", 85%);
  });

</script>
