
<style>
  .center-box {
    border: black 2px solid;
    height: auto;
    width: 35%;
    margin:0 auto;
  }


</style>
<br>
<p style="font-size:25px" align="center">New Vehicle</p>
<div class="center-box container">
  <%= form_with(model: vehicle, local: true) do |form| %>
    <% if vehicle.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>
        <ul>
        <% vehicle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <div class="row center">
        <div class="col-md-5 mb-3">
          <div class="field">
            <%= form.label :plate %>
            <input id="vehicle_plate" name="vehicle[plate]" class="form-control" placeholder="license plate" ></input>
          </div>
        </div>
        <div class="col-md-7 mb-3">
          <div class="field">
            <%= form.label :imei %>
            <input id="vehicle_imei" name="vehicle[imei]" class="form-control" placeholder="devise imei"></input>
          </div>
        </div>
      </div>

    <div class="field" style="display:none;">
      <%= form.label :distance %>
      <%= form.text_area :distance, id: :vehicle_distance, :value => 0 %>
    </div>

    <div class="field" style="display:none;">
      <%= form.label :category %>
      <%= form.text_area :category, id: :vehicle_category, id: "vehicle_category", :readonly => true %>
    </div>
    <div align="center">
      <button type="button" id="modalTog" class="btn btn-primary" data-toggle="modal">Select Category</button>
    </div>
    <div id="selected-category"></div>
    <div class="actions form-submit" align="center" style="display:none;">
      <button class="btn btn-success" type="submit" name="commit" value="Create Vehicle" data-disable-with="Create Vehicle">Comfirm<button>
    </div>
  <% end %>
  <br>
</div>

<div id="myModal" class="modal bd-example-modal-lg fade" role="dialog" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <font align="center">Select Type</font>
      <div>
        <table style="margin: 0px auto;" border="1" height="100%" width="80%">
          <tr align="center">
            <td>
              <img src="<%= asset_path('4Wheels.svg') %>" height="100%" width="100%">
              <button id="4-Wheels" type="button" data-dismiss="modal" class="btn btn-success" onclick="getCategory(this)" name="4Wheels">Select</button>
            </td>
            <td>
              <img src="<%= asset_path('6Wheels.svg') %>" height="100%" width="100%">

              <button id="6-Wheels" type="button" data-dismiss="modal" class="btn btn-success" onclick="getCategory(this)" name="6Wheels">Select</button>
            </td>
          </tr>
          <tr align="center">
            <td>
              <img src="<%= asset_path('8WheelsSemi.svg') %>" height="100%" width="100%">

              <button id="8-Wheels-Semi" type="button" data-dismiss="modal" class="btn btn-success" onclick="getCategory(this)" name="8WheelsSemi">Select</button></td>
            <td>
              <img src="<%= asset_path('10Wheels.svg') %>" height="100%" width="100%">

              <button id="10-Wheels" type="button" data-dismiss="modal" class="btn btn-success" onclick="getCategory(this)" name="10Wheels">Select</button>
            </td>
          </tr>
          <tr align="center">
            <td>
              <img src="<%= asset_path('12WheelsTrailer.svg') %>" height="100%" width="100%">
              <button id="12-Wheels-Trailer" type="button" data-dismiss="modal" class="btn btn-success" onclick="getCategory(this)" name="12WheelsTrailer">Select</button>
            </td>
            <td>
              <img src="<%= asset_path('12WheelsSemi.svg') %>" height="100%" width="100%">
              <button id="12-Wheels-Semi" type="button" data-dismiss="modal" class="btn btn-success" onclick="getCategory(this)" name="12WheelsSemi">Select</button>
            </td>
          </tr>
        </table><br>
      </div>
    </div>
  </div>
</div>

<script>
$('#modalTog').click(function () {
  $('#myModal').modal('show')
})


// $('#myModal').modal('show')
category_dict={
     "4Wheels":"<%= asset_path('4Wheels.svg') %>",
     "6Wheels":"<%= asset_path('6Wheels.svg') %>",
     "8WheelsSemi":"<%= asset_path('8WheelsSemi.svg') %>",
     "10Wheels":"<%= asset_path('10Wheels.svg') %>",
     "12WheelsSemi":"<%= asset_path('12WheelsSemi.svg') %>",
     "12WheelsTrailer":"<%= asset_path('12WheelsTrailer.svg') %>"
};

function getCategory(obj) {
  document.getElementById('vehicle_category').value = obj.id
  document.getElementById('selected-category').innerHTML = '<img src="' + category_dict[obj.name] + '"height="100%" width="100%">'
  $(".form-submit").show();
};
</script>
