<%= form_with(model: vehicle, local: true) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :plate %>
    <%= form.text_area :plate, id: :vehicle_plate %>
  </div>

  <div class="field">
    <%= form.label :imei %>
    <%= form.text_area :imei, id: :vehicle_imei %>
  </div>

  <div class="field">
    <%= form.label :distance %>
    <%= form.text_area :distance, id: :vehicle_distance %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_area :category, id: :vehicle_category, id: "vehicle_category", :readonly => true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<!-- <img src="http://www.zabzaa.com/upload/download.php?file=89212wheelsSemi.svg" width="100" height="100"> -->

<button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Select Category</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <font align="center"> Select Type</font>
      <table style="margin: 0px auto;" border="1">
        <tr align="center">
          <td>
            <img src="/assets/4Wheels.svg" height="230" width="350">
            <br>
            <button id="4-Wheels" type="button" data-dismiss="modal" class="btn btn-success" onclick="getCategory(this.id)" >Select</button>
          </td>
          <td>
            <img src="/assets/6Wheels.svg" height="230" width="350">
            <br>
            <button id="6-Wheels" type="button" data-dismiss="modal" class="btn btn-success" onclick="getCategory(this.id)" >Select</button>
          </td>
        </tr>
        <tr align="center">
          <td>
            <img src="/assets/8WheelsSemi.svg" height="230" width="350">
            <br>
            <button id="8-Wheels-Semi" type="button" data-dismiss="modal" class="btn btn-success" onclick="getCategory(this.id)" >Select</button></td>
          <td>
            <img src="/assets/10Wheels.svg" height="230" width="350">
            <br>
            <button id="10-Wheels" type="button" data-dismiss="modal" class="btn btn-success" onclick="getCategory(this.id)" >Select</button>
          </td>
        </tr>
        <tr align="center">
          <td>
            <img src="/assets/12WheelsTrailer.svg" height="230" width="350">
            <br>
            <button id="12-Wheels-Trailer" type="button" data-dismiss="modal" class="btn btn-success" onclick="getCategory(this.id)" >Select</button>
          </td>
          <td>
            <img src="/assets/12WheelsSemi.svg" height="230" width="350">
            <br>
            <button id="12-Wheels-Semi" type="button" data-dismiss="modal" class="btn btn-success" onclick="getCategory(this.id)" >Select</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<script>
function getCategory(id) {
  document.getElementById('vehicle_category').value = id
};
</script>
