<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<div class="container-fluid">
  <div class="row" style="padding-top:50px;">
<div class="col-md-3">
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="color:white;">
  <a class="nav-item nav-link disabled" style="color:grey; letter-spacing: 1px; text-transform: uppercase;" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Vehicles Dashboard</a>
  <a class="nav-link active" style="color:white;" id="v-pills-overview-tab" data-toggle="pill" href="#v-pills-overview" role="tab" aria-controls="v-pills-overview" aria-selected="false">Overview</a>
  <!-- <a class="nav-link" style="color:white;" id="v-pills-graphs-tab" data-toggle="pill" href="#v-pills-graphs" role="tab" aria-controls="v-pills-graphs" aria-selected="false">Graphs</a> -->
  <a class="nav-link" style="color:white;" href="<%= new_vehicle_path %>"><i class="fa fa-plus"></i> New Vehicle</a>

</div>
</div>
<div class="col-md-9">
<div class="tab-content" id="v-pills-tabContent">
  <div class="tab-pane show active" id="v-pills-overview" role="tabpanel" aria-labelledby="v-pills-overview-tab">
      <!-- <%= form_tag(vehicles_path, method: :get) do %>
       <%= text_field_tag :term, params[:term] %>
       <%= submit_tag 'Search', name: nil %>
      <% end %> -->
    <div class="col-md-3">
      <input type="text" class="fa fa-search form-control" id="plate-search" placeholder="Search for vehicle...">
    </div><br>
    <table class="table table-hover my_table" style="border-color: grey; border-spacing: 2px;" id="myTable">
      <thead class="thead-inverse">
        <tr>
          <th >Plate</i></th>
          <th >Imei</i></th>
          <th >Distance</i></th>
          <th style="width: 35%;">Category</i></th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody style="color: #cfd2da; font-weight: 300; font-size: 0.9rem; font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;">
        <% @vehicles.each do |vehicle| %>
          <tr>
            <td><%= vehicle.plate %></td>
            <td><%= vehicle.imei %></td>
            <td><%= vehicle.distance %></td>
            <td><button onclick="categoryModal(this)" id="<%= vehicle.id %>" type="button" class="my_btn btn-sm" data-toggle="modal" data-target="#myModal" value="<%= vehicle.category %>"><%= vehicle.category %></button></td>
            <!-- <td><%= link_to 'Show', vehicle, class: "btn-sm btn-info" %></td> -->
            <td><%= link_to 'Manage', edit_vehicle_path(vehicle), class: "btn-sm btn-warning" %></td>
            <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"></div>
</div>
</div>
</div>
</div>



<style>

.page-link {
  color: #51586a;
  background-color: #252830;
  border: 1px solid #434857;
}

.page-item.disabled .page-link{
  background-color: #51586a;
  border: 1px solid #ddd;
}

.my_btn {
      width: 55%;
  }
.nav-pills .nav-link.active {
  color: #fff;
  background-color: #1997c6;
}

.table th {
  color: white;
  vertical-align: center;
}

.table th .table td {
  vertical-align: center;
}
</style>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="svgImg" align="center"><div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>



$( document ).ready(function() {
    $('.vehicle').addClass('active');
});

$("#plate-search").keyup(function() {
  var value = this.value;
  $(".data-table").find("tr").each(function(index) {
      if (index === -1) return;
      var id = $(this).find("td").first().text();
      $(this).toggle(id.indexOf(value) !== -1);
  });
});

category_dict={
     "4Wheels":"<%= asset_path('4Wheels.svg') %>",
     "6Wheels":"<%= asset_path('6Wheels.svg') %>",
     "8WheelsSemi":"<%= asset_path('8WheelsSemi.svg') %>",
     "10Wheels":"<%= asset_path('10Wheels.svg') %>",
     "12WheelsSemi":"<%= asset_path('12WheelsSemi.svg') %>",
     "12WheelsTrailer":"<%= asset_path('12WheelsTrailer.svg') %>"
};

  function categoryModal(obj) {
    var category = obj.value.replace(/[-\-]/g,"")
    console.log(category)
    document.getElementById('svgImg').innerHTML = '<object data="' + category_dict[category] + '" type="image/svg+xml" id="svg" height=300px; width=450px; display: none;></object>'
    getWheels(obj)
  };

  function assignWheels(data) {
    var mySVG = document.getElementById("svg");
    var svgDoc;
    // var new_delta = [];
    mySVG.addEventListener("load",function() {
      svgDoc = mySVG.contentDocument;
      var delta = svgDoc.getElementsByClassName("wheel");
      var positions = [];
      for (var i = 0; i < data.length; i++) {
        positions.push(data[i].position)
      }
      function selectedWheel() {
        for (var i = 0; i < data.length; i++) {
          if (data[i].position == this.id) {
             document.location.href = "/tyres/" + data[i].id;
          } else {
             console.log(data[i].position, this.id)
          }
        }
      }

      function colorChangeTo() {
        this.style.setProperty("fill", "green", "");
      }

      function colorChangeBack() {
        this.style.setProperty("fill", "black", "");
      }

      function noWheel() {
        alert("No tyre belong to this position!")
      }

      for (var i = 0; i < delta.length; i++) {
        if (positions.includes(svgDoc.getElementById(delta[i].id).id)) {
           delta[i].addEventListener('click', selectedWheel, false);
           delta[i].addEventListener('mouseover', colorChangeTo, false);
           delta[i].addEventListener('mouseout', colorChangeBack, false);
           svgDoc.getElementById(delta[i].id).style.cursor = "pointer";
        }  else {
           svgDoc.getElementById(delta[i].id).style.setProperty("fill", "white", "");
           delta[i].addEventListener('click', noWheel, false);
        }
      }
    }, false);
    $('#myModal').modal('show')
  }

  function getWheels(obj) {
    $.ajax({
      type:"GET",
      url:"/vehicles/category",
      data: {
        current_vehicle_id: obj.id
      },
      dataType:"json",
      success: function(data){
        assignWheels(data)
      }
    })
  }

  // $('#modalTog').click('hidden', function () {
  //   // Load up a new modal...
  //   $('#myModal').modal('show')
  // })
</script>
